body{
    background: url("./bilder/chad-mcmillan-R4T9TI8EsJI-unsplash.jpg");
    background-size: cover;


}
h1{
    font: 80px sans-serif;
    color: rgb(105, 115, 15);
    margin-left: 200px;
    margin-top: 150px;
    font-weight: bold;
    text-transform: uppercase;
}
h2{
    font: 50px sans-serif;
    color: #FFF;
    margin-left: 200px;
    margin-top: 20px;


}
p{
    margin-left: 1000px;
    margin-top: 200px;
    font:30px sans-serif;
    background-color: rosybrown;
    border: 3px solid white;
    padding: 30px;
    border-radius: 10px;
    width: 200px;
    text-align: center;

}