@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap');
h1{
    font-family: 'Saira Stencil One', cursive; color: aliceblue;
}
h2{
    font-family: 'Luckiest Guy', cursive; color: aliceblue;

}
p{
    font-family: 'Luckiest Guy', cursive; color: aliceblue;
}
body{
    background-image: url(./bilder/umberto-FewHpO4VC9Y-unsplash\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
  margin: auto 650px; 
  font-size: 45px;
}
ul {
    font-family: 'Saira Stencil One', cursive; color: aliceblue;
}



.vänster {
background-color: #90198ed5;
width: 900px;
margin: 30px auto;
padding: 50px;
border-radius: 18px;
}
.mitten {
    background-color: #b12593d5;
    width: 900px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 18px;
}
.höger {
background-color: #d14eeec4;
width: 900px;
margin: 30px auto;
padding: 50px;
border-radius: 18px;
}
.teknik {
background-color: #ee1ef5c4;
width: 900px;
margin: 30px auto;
padding: 50px;
border-radius: 18px;
}